.content__cover {
  margin: 0 auto 135px;
}

@media (max-width: 800px) {
  .content__cover {
    margin-bottom: 82px;
  }
}

@media (max-width: 500px) {
  .content__cover {
    margin-bottom: 41px;
  }
}

@media (max-width: 320px) {
  .content__cover {
    margin-bottom: 34px;
  }
}
