.video-item__duration {
  z-index: 2;
  font-weight: 500;
  font-size: 12px;
  line-height: 13px;
  letter-spacing: 0.3em;
  margin: 0;
  padding: 94px 0 12px;
}

@media (max-width: 1120px) {
  .video-item__duration {
    padding: 54px 0 12px;
  }
}

@media (max-width: 900px) {
  .video-item__duration {
    padding: 16px 0 8px;
  }
}

@media (max-width: 750px) {
  .video-item__duration {
    padding: 135px 0 12px;
  }
}


@media (max-width: 520px) {
  .video-item__duration {
    padding: 41px 0 8px;
  }
}

@media (max-width: 430px) {
  .video-item__duration {
    padding: 17px 0 8px;
  }
}
