.content__container {
  margin: auto;
  max-width: 984px;
}

@media (max-width: 1279px) {
  .content__container {
    max-width: 928px;
    padding: 0 48px;
  }
}

@media (max-width: 1024px) {
  .content__container {
    padding: 0 48px;
  }
}

@media (max-width: 780px) {
  .content__container {
    padding: 0;
  }
}


