@import url('./__image/place__image.css');
@import url('./__paragraphs/place__paragraphs.css');
@import url('./__paragraph/place__paragraph.css');
@import url('./__title/place__title.css');
@import url('./__website/place__website.css');
@import url('../picture/picture.css');

.place {
  display: grid;
  grid-template-columns: minmax(300px, 1fr) 1fr;
  justify-content: center;
  grid-column-gap: 40px;
  grid-row-gap: 52px;
  font-family: 'Inter', 'Helvetica Neue', 'Arial', sans-serif;
}

@media (max-width: 600px) {
  .place {
    grid-template-columns: minmax(300px, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
  }
}
