@import url('../__url-heading/place__url-heading.css');
@import url('../__url/place__url.css');

.place__website {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media (max-width: 600px) {
  .place__website {
    display: none;
  }
}
